<mat-card *ngIf="single_post != undefined; else error_message" class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{single_post.title}}</mat-card-title>
    <mat-card-subtitle>
      <span>{{single_post.author}}</span>
      <br>
      <span>{{single_post.date | date}}</span>
    </mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      {{single_post.content}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
    <button
      mat-button
      [routerLink]="['/']">To the home page</button>
  </mat-card-actions>
</mat-card>
<ng-template #error_message>
  <p >Select a post from a home page!</p>
  <button
    mat-button
    [routerLink]="['/']">To the home page</button>
</ng-template>
