.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.like-button-wrapper {
  display: flex;
  align-items: center;

  span.like-button-image {
    background-size: cover;
    width: 34px;
    height: 34px;
    cursor: pointer;
    transform: scale(0.7);
    align-self: center;

    &:hover {
      opacity: 60%;
    }
  }
}
