<mat-toolbar>
  <div>Admin Blog</div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end">
    <ul fxLayout fxLayoutGap="15px" class="navigation-items">
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/admin', 'feed']">Home</a></li>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/admin', 'create']">Create Post</a></li>
      <li><a href="#" (click)="logout($event)">Logout</a></li>
    </ul>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
